.App {
  text-align: center;
  font-size: 2rem;
  color:#2196f3;
  font-weight:bold;
  margin:1rem 0 5rem 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header  {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-center{
  text-align:center;
  font-size:1.3rem;
  font-weight: 500;
  color:#2196f3;
}

.nigga{
  color:black !important;
  font-size:1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  width:100%;
}

.cards-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3rem 0;
}

.card{
  width:22%;
  margin: 1rem;
}

.card-content{
  height:50%;
}

.card-image{
  width: 100%;
  height:10%;
  background-size: cover;
}

.card-title{
  text-align:center;
  margin-top: 1rem;
  height:5rem;
  font-size:1.5rem;
  font-weight: bold;
  color:#2196f3;
}

.card p{
  padding:0.5rem;
}

.center-btn{
  margin: 0 auto;
  margin-bottom: 1rem;
  text-decoration: none;
}
.card-btn{
  padding:0.5rem 1rem;
  background-color:#2196f3;
  color:white;
  border-radius: 5px;
  text-decoration: none;
}

.bigger{
  width:3000px;
  height:50px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.fontnigga{
  font-size:0.8rem;
}

.resume{
  margin: 1rem 0 1rem 1rem;
}

